<configuration>
  <system.webServer>

    <!-- indicates that the js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="SudokuServer.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^SudokuServer.js\/debug[\/]?"/>
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard">
          <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <match url="*.*"/>
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="SudokuServer.js"/>
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false"/>

    <defaultDocument>
      <files>
        <add value="SudokuServer.js" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>
